// Fonts
$main-font: Tahoma, sans-serif;


// Colors
$background-color: #f0f0f0;
$header-background: #6e6e6e;
$header-image: #c4c4c4;
$main-text: #323232;
$menu-item: #e1e1e1;
$background-image: #8f8f8f;
$border-color: #eeeeee;

// Adaptive
$desktop-device: 'only screen and (min-width: 900px)';